body {
  min-height: 100%;
  min-width: 100%;
  /* background-color: #66c2ff; */
  background: rgb(66, 109, 207);
  background: linear-gradient(
    90deg,
    rgba(66, 109, 207, 1) 30%,
    rgba(9, 73, 121, 1) 62%
  );

  justify-content: center;
  align-items: center;
}

#msg_bottom {
  position: absolute;
  bottom: 0;
  background-color: #ebeced;
}

#msg {
  height: 45px;
  text-align: center;
  background-color: #ebeced;
  outline: none;
  border: hidden;
}

#sendbtn {
  height: 35px;
  border-radius: 50%;
}

#msg-top {
  /* height: 50px; */
  padding: 10px;
  background-color: #ebeced;
}
#sender,
#sender:focus {
  font-size: 20px;
  border: hidden;
  outline: none;
  background-color: #ebeced;
}

#msgs {
  display: flex;
  flex-direction: column;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 350px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#msgs::-webkit-scrollbar {
  display: none;
}
.me,
.you {
  width: 60%;
  margin-top: 20px;
  border-radius: 15px;
  padding: 15px;
  /* margin-bottom: 10px; */
  position: relative;
}

.me {
  align-self: flex-end;
  background-color: rgb(117, 86, 255);
  color: #fff;
  margin-right: 10px;
}

.you {
  align-self: flex-start;
  background-color: rgb(235, 235, 238);
  color: rgb(50, 50, 51);
  margin-left: 10px;
}

.sender {
  font-size: 18px;
}

.you > .sender {
  color: grey;
  font-weight: 550;
}

.me > .sender {
  font-weight: bold;
}

.me > .msg {
  color: #e3e9f3;
}

.you > .msg {
  color: rgb(0, 0, 0);
}

.time {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  float: right;
  padding-right: 5px;
}

.notification {
  align-self: center;
  padding: 10px;
  border-radius: 5px;
  background: rgb(63, 59, 59);
  color: rgb(253, 247, 247);
  margin: 10px;
}

#userList {
  height: 450px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#userList::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 500px) {
  #active-list {
    display: none;
  }
}
